<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Otvoreni skup podataka - McDonald's Ice Cream Machines">
    <meta name="author" content="Elena Lukačević">
    <title>McDonald's Ice Cream Machines</title>
</head>
<body>
    <h1>Otvoreni podaci - McDonald's Mašine za Sladoled</h1>
    <p>Pristup otvorenim podacima o statusu McDonald's mašina za sladoled u Hrvatskoj.</p>

    <ul>
        <li><a href="/api/download/json">Preuzmi JSON</a></li>
        <li><a href="/api/download/csv">Preuzmi CSV</a></li>
        <li><a href="/datatable">Pregled podataka u tablici</a></li>
    </ul>
</body>
</html>
